<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../_shared/css/base.css" />
    <link rel="stylesheet" href="../_shared/css/components.css" />
    <title>Notícia</title>
  </head>
  <body>
    <header class="header">
      <h1 id="titulo"></h1>
    </header>

    <main class="container">
      <article class="card">
        <p id="conteudo"></p>
      </article>
    </main>

    <script type="module" src="js/noticia.js"></script>
  </body>
</html>
