<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../_shared/css/base.css" />
    <link rel="stylesheet" href="../_shared/css/components.css" />
    <title>Cadastro</title>
  </head>
  <body>
    <main class="login-page">
      <article class="login-card">
        <h1>Cadastro</h1>
        <p>Crie sua conta</p>

        <form id="form-cadastro">
          <div class="campo">
            <label>Nome</label>
            <input type="text" required />
          </div>

          <div class="campo">
            <label>Email</label>
            <input type="email" required />
          </div>

          <div class="campo">
            <label>Senha</label>
            <input type="password" required />
          </div>

          <button class="btn btn-primario">Cadastrar</button>
        </form>

        <p class="link-cadastro">
          Já tem conta? <a href="../Usuario/index.html">Entrar</a>
        </p>
      </article>
    </main>
  </body>
</html>
